#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.1rem rgba(49, 132, 253, 50%);
}

.btn-edit,
.btn-delete {
    font-size: 1.5rem;
    width: 50px;
    background-color: transparent;
    outline: none;
    border-color: transparent;
    &:hover {
        background-color: transparent;
        color: #666;
    }
}
.btn-edit {
    color: orange;
    margin: 0 20px;
}
.btn-delete {
    color: rgb(196, 22, 22);
}

// modal create new user
.modal-user-container {
    .btn {
        padding: 0 20px;
        outline: none;
        font-weight: 500;
    }
    .close {
        color: white;
        height: 40px;
        padding: 0 10px;
        outline: none;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        font-size: 2rem;
    }
    .modal-user-body {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 48%;
            &.max-width-input {
                width: 100%;
            }
            input {
                border-radius: 3px;
                border: 1px solid #666;
                height: 30px;
                color: rgb(44, 43, 43);
                padding: 0 10px;
                margin-top: 3px;
                outline: none;
            }
        }
    }
}

//
