.manage-doctor-container {
    .manage-doctor-title {
        margin: 15px 0;
        text-align: center;
    }
    .manage-doctor-editor {
    }
    .more-infor {
        display: flex;
        justify-content: space-between;
        label {
            font-size: 1.1rem;
            padding-bottom: 4px;
        }
        .content-left {
            width: 40%;
            margin-right: 10px;
        }
        .content-right {
            width: 50%;
        }
    }
    .more-infor-extra-doctor {
        .input-select {
            margin-top: 20px;
            label {
                font-size: 1.1rem;
                padding-bottom: 4px;
            }
        }
    }
    .manage-doctor-editor {
        label {
            font-size: 1.1rem;
            padding-bottom: 4px;
        }
    }
    .btn-save-content-doctor,
    .btn-create-content-doctor {
        margin: 30px 0;
        padding: 5px 10px;
        font-size: 1.2rem;
        font-weight: 500;
        outline: none;
        border: none;
        border-radius: 6px;
        :hover {
            cursor: pointer;
        }
    }
    .btn-save-content-doctor {
    }
    .btn-create-content-doctor {
    }
}
