.manage-doctor-container {
    .manage-doctor-title {
        margin: 30px 0;
        text-align: center;
    }
    .manage-doctor-editor {
    }
    .more-infor {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .content-left {
            width: 40%;
            margin-right: 10px;
        }
        .content-right {
            width: 50%;
        }
    }
    .btn-save-content-doctor {
        margin: 30px 0;
        padding: 5px 20px;
        font-size: 1.2rem;
        font-weight: 500;
    }
}
