.text-confirm-success,
.text-confirm-fail,
.text-tks {
    margin-top: 150px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 3rem;
}
.text-confirm-fail {
    color: rgb(226, 79, 79);
}
.text-confirm-success {
    color: green;
}
.text-tks {
    margin-top: 15px;
}
