.home-header-container {
    height: 70px;
    width: 100%;
}
.home-header-conten {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 20px;
}
.left-content {
    width: 25%;
    display: flex;
    align-items: center;
    .logo {
        background: url(../../assets/images/bookingcare-logo-header.svg) center center no-repeat;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .btn-menu-group {
        font-size: 1.5rem;
        color: #777;
        cursor: pointer;
        padding-left: 5px;
    }
}
.center-content {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .child-content {
        display: flex;
    }
    .center-header-link {
        text-decoration: none;
    }
    .text-header {
        font-size: 1.15rem;
        font-weight: 600;
        align-items: center;
        text-align: center;
        color: rgb(24, 22, 22);
    }
    .text-header-desc {
        font-size: 0.9rem;
        align-items: center;
        text-align: center;
        color: rgb(100, 91, 91);
    }
}
.right-content {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    .language-vi,
    .language-en {
        cursor: pointer;
        font-weight: 600;
        opacity: 0.3;
        width: 35px;
        height: 20px;
        align-items: center;
        &.active {
            opacity: 1;
            border-radius: 4px;
            background-color: #f7d800;
            span {
                color: #cf1735;
            }
        }
        &:hover {
            opacity: 0.7;
            color: #3526c2;
        }
    }
    .language-vi {
        padding: 0 10px;
        margin-right: 2px;
    }
    .language-en {
        padding: 0 8px;
        margin-right: 20px;
    }

    .right-header-link {
        text-decoration: none;
    }
    .support {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        cursor: pointer;
        color: rgb(24, 22, 22);
        font-weight: 600;
        i {
            padding-right: 4px;
        }
    }
}

// header banner
.home-header-banner {
    background-image: url(../../assets/images/bookingcare-cover-4.jpg);
    background-size: cover;
    height: 90vh;
    background-color: #fff;
}
.banner-up {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
}
.title-1,
.title-2 {
    color: rgb(252, 247, 247);
    text-align: center;
    align-items: center;
    text-shadow: 1px 1px 1px #333;
}
.title-1 {
    font-size: 2.6rem;
    padding-top: 40px;
}
.title-2 {
    padding-bottom: 20px;
    font-size: 3rem;
}
.header-search {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 50px;
    width: 400px;
    border-radius: 30px;
    background-color: #f7d800;
    .btn-search {
        font-size: 1.2rem;
        padding: 0 10px 0 20px;
        cursor: pointer;
        color: #333;
    }
    .btn-clear {
        font-size: 1.2rem;
        padding: 0 20px 0 10px;
        cursor: pointer;
        color: #333;
    }
    .search-input {
        background-color: transparent;
        outline: none;
        border: none;
        width: 100%;
    }
}

.banner-down {
    width: 100%;
    padding: 20px 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    bottom: 0;
    height: 100%;
}
.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.option-link {
    text-decoration: none;
    margin: 2px;
}
.item {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    align-items: center;
    padding: 2px;
    color: rgb(20, 18, 18);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    &:hover {
        color: #45c3d2;
    }

    .option-img1,
    .option-img2,
    .option-img3,
    .option-img4,
    .option-img5,
    .option-img6,
    .option-img7,
    .option-img8,
    .option-img9 {
        width: 50px;
        height: 50px;
        background-color: white;

        border-radius: 50%;
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 4px;
    }
    .option-img1 {
        background-image: url(../../assets/images/133537-khamchuyenkhoa.png);
    }
    .option-img2 {
        background-image: url(../../assets/images/133657-khamtuxa.png);
    }
    .option-img3 {
        background-image: url(../../assets/images/133744-khamtongquat.png);
    }
    .option-img4 {
        background-image: url(../../assets/images/133744-dichvuxetnghiem.png);
    }
    .option-img5 {
        background-image: url(../../assets/images/133744-suckhoetinhthan.png);
    }
    .option-img6 {
        background-image: url(../../assets/images/104635-khamnhakhoa.png);
    }
    .option-img7 {
        background-image: url(../../assets/images/151930-phau-thuat.jpg);
    }
    .option-img8 {
        background-image: url(../../assets/images/133744-khamtainha.png);
    }
    .option-img9 {
        background-image: url(../../assets/images/101157-icon-lich-su.jpg);
    }
    .option-text {
        color: rgb(20, 18, 18);
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        &:hover {
            color: #45c3d2;
        }
    }
}
